In [99]:
import pandas as pd
df = pd.read_csv('dataset/weather_result1020.csv',index_col=0)

In [100]:
df1 = pd.read_csv('dataset/1020전력증감률.csv')
df1

           date      금년      가정용전력       mean
0    2010-07-01  5638.3   778.0854  -2.618614
1    2010-07-02  5022.4   693.0912 -13.256075
2    2010-07-03  4781.1   659.7918 -17.423666
3    2010-07-04  6008.9   829.2282   3.782170
4    2010-07-05  5746.9   793.0722  -0.742939
..          ...     ...        ...        ...
677  2020-08-27  8496.1  1367.8721  10.029647
678  2020-08-28  8567.7  1379.3997  10.956910
679  2020-08-29  7283.6  1172.6596  -5.672963
680  2020-08-30  7146.6  1150.6026  -7.447197
681  2020-08-31  8267.3  1331.0353   7.066548

[682 rows x 4 columns]

In [101]:
sample = pd.merge(df,df1,on='date',how='outer')
sample

,date,avgrhm,avgts,maxta,sumrn,di,금년,가정용전력,mean
0,2010-07-01,3.0,1.0,0.0,-9.0,1.0,5638.3,778.0854,-2.618614
1,2010-07-02,10.0,-1.0,-2.0,-1.0,-1.0,5022.4,693.0912,-13.256075
2,2010-07-03,8.0,0.0,0.0,-13.0,2.0,4781.1,659.7918,-17.423666
3,2010-07-04,6.0,0.0,-1.0,-16.0,0.0,6008.9,829.2282,3.782170
4,2010-07-05,1.0,2.0,2.0,-16.0,4.0,5746.9,793.0722,-0.742939
...,...,...,...,...,...,...,...,...,...
677,2020-08-27,6.0,-1.0,0.0,6.0,1.0,8496.1,1367.8721,10.029647
678,2020-08-28,8.0,1.0,0.0,9.0,2.0,8567.7,1379.3997,10.956910
679,2020-08-29,10.0,0.0,0.0,9.0,2.0,7283.6,1172.6596,-5.672963
680,2020-08-30,8.0,1.0,0.0,6.0,2.0,7146.6,1150.6026,-7.447197
681,2020-08-31,4.0,-1.0,-2.0,-1.0,-2.0,8267.3,1331.0353,7.066548

In [102]:
sample1 = sample.drop(['금년','가정용전력'],axis=1)
sample1.head()

         date  avgrhm  avgts  maxta  sumrn   di       mean
0  2010-07-01     3.0    1.0    0.0   -9.0  1.0  -2.618614
1  2010-07-02    10.0   -1.0   -2.0   -1.0 -1.0 -13.256075
2  2010-07-03     8.0    0.0    0.0  -13.0  2.0 -17.423666
3  2010-07-04     6.0    0.0   -1.0  -16.0  0.0   3.782170
4  2010-07-05     1.0    2.0    2.0  -16.0  4.0  -0.742939

In [103]:
df2 = pd.read_csv('dataset/final_sample.csv')
df3 = df2[['day','olympic']]

In [104]:
sample2 = pd.concat([sample1,df3],axis=1)
sample2

           date  avgrhm  avgts  maxta  sumrn   di       mean  day  olympic
0    2010-07-01     3.0    1.0    0.0   -9.0  1.0  -2.618614    1        0
1    2010-07-02    10.0   -1.0   -2.0   -1.0 -1.0 -13.256075    1        0
2    2010-07-03     8.0    0.0    0.0  -13.0  2.0 -17.423666    0        0
3    2010-07-04     6.0    0.0   -1.0  -16.0  0.0   3.782170    0        0
4    2010-07-05     1.0    2.0    2.0  -16.0  4.0  -0.742939    1        0
..          ...     ...    ...    ...    ...  ...        ...  ...      ...
677  2020-08-27     6.0   -1.0    0.0    6.0  1.0  10.029647    1        0
678  2020-08-28     8.0    1.0    0.0    9.0  2.0  10.956910    1        0
679  2020-08-29    10.0    0.0    0.0    9.0  2.0  -5.672963    0        0
680  2020-08-30     8.0    1.0    0.0    6.0  2.0  -7.447197    0        0
681  2020-08-31     4.0   -1.0   -2.0   -1.0 -2.0   7.066548    1        0

[682 rows x 9 columns]

In [105]:
sample2.rename(columns={'mean':'pct'},inplace=True)

In [106]:
sample2['date'] = pd.to_datetime(sample2['date'])

In [107]:
sample2 = sample2.set_index('date')

In [108]:
sample2.corr()

,avgrhm,avgts,maxta,sumrn,di,pct,day,olympic
avgrhm,1.000000,-0.552979,-0.541246,0.651349,-0.361216,-0.204373,-0.000370,-0.237291
avgts,-0.552979,1.000000,0.945074,-0.433738,0.905070,0.426574,-0.001947,0.362062
maxta,-0.541246,0.945074,1.000000,-0.455402,0.972123,0.377025,0.004194,0.291320
sumrn,0.651349,-0.433738,-0.455402,1.000000,-0.368780,-0.055489,-0.026570,-0.139657
di,-0.361216,0.905070,0.972123,-0.368780,1.000000,0.341681,0.005076,0.261864
pct,-0.204373,0.426574,0.377025,-0.055489,0.341681,1.000000,0.522925,0.187690
day,-0.000370,-0.001947,0.004194,-0.026570,0.005076,0.522925,1.000000,-0.024430
olympic,-0.237291,0.362062,0.291320,-0.139657,0.261864,0.187690,-0.024430,1.000000

In [68]:
sample3 = pd.read_csv('dataset/weather1020.csv',index_col=0)
sample3['heat_wave'] = 0
sample3

          date  avgrhm  avgts  maxta  sumrn    di  heat_wave
0   2010-07-01    84.0   27.0   28.0   10.0  80.0          0
1   2010-07-02    91.0   25.0   26.0   18.0  78.0          0
2   2010-07-03    89.0   26.0   28.0    6.0  81.0          0
3   2010-07-04    87.0   26.0   27.0    3.0  79.0          0
4   2010-07-05    82.0   28.0   30.0    3.0  83.0          0
..         ...     ...    ...    ...    ...   ...        ...
57  2020-08-27    85.0   28.0   31.0   11.0  85.0          0
58  2020-08-28    87.0   30.0   31.0   14.0  86.0          0
59  2020-08-29    89.0   29.0   31.0   14.0  86.0          0
60  2020-08-30    87.0   30.0   31.0   11.0  86.0          0
61  2020-08-31    83.0   28.0   29.0    4.0  82.0          0

[682 rows x 7 columns]

In [69]:
sample3.isna().sum()

date         0
avgrhm       0
avgts        0
maxta        0
sumrn        9
di           0
heat_wave    0
dtype: int64

In [70]:
sample3.fillna(0,inplace=True)

In [71]:
def heat(maxta,heat_wave):
    if maxta >= 33:
        return 1
    else:
        return 0
    
sample3['heat_wave'] = sample3.apply(lambda x: heat(x['maxta'],x['heat_wave']),axis=1)
sample3

          date  avgrhm  avgts  maxta  sumrn    di  heat_wave
0   2010-07-01    84.0   27.0   28.0   10.0  80.0          0
1   2010-07-02    91.0   25.0   26.0   18.0  78.0          0
2   2010-07-03    89.0   26.0   28.0    6.0  81.0          0
3   2010-07-04    87.0   26.0   27.0    3.0  79.0          0
4   2010-07-05    82.0   28.0   30.0    3.0  83.0          0
..         ...     ...    ...    ...    ...   ...        ...
57  2020-08-27    85.0   28.0   31.0   11.0  85.0          0
58  2020-08-28    87.0   30.0   31.0   14.0  86.0          0
59  2020-08-29    89.0   29.0   31.0   14.0  86.0          0
60  2020-08-30    87.0   30.0   31.0   11.0  86.0          0
61  2020-08-31    83.0   28.0   29.0    4.0  82.0          0

[682 rows x 7 columns]

In [110]:
sample_heat = sample3[['heat_wave','date']]
sample_heat['date'] = pd.to_datetime(sample_heat['date'])

C:\anaconda3\envs\cakd3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [83]:
sample2=sample2.drop(['level_0','index'],axis=1)
sample2

,date,avgrhm,avgts,maxta,sumrn,di,금년,가정용전력,mean
0,2010-07-01,3.0,1.0,0.0,-9.0,1.0,5638.3,778.0854,-2.618614
1,2010-07-02,10.0,-1.0,-2.0,-1.0,-1.0,5022.4,693.0912,-13.256075
2,2010-07-03,8.0,0.0,0.0,-13.0,2.0,4781.1,659.7918,-17.423666
3,2010-07-04,6.0,0.0,-1.0,-16.0,0.0,6008.9,829.2282,3.782170
4,2010-07-05,1.0,2.0,2.0,-16.0,4.0,5746.9,793.0722,-0.742939
...,...,...,...,...,...,...,...,...,...
677,2020-08-27,6.0,-1.0,0.0,6.0,1.0,8496.1,1367.8721,10.029647
678,2020-08-28,8.0,1.0,0.0,9.0,2.0,8567.7,1379.3997,10.956910
679,2020-08-29,10.0,0.0,0.0,9.0,2.0,7283.6,1172.6596,-5.672963
680,2020-08-30,8.0,1.0,0.0,6.0,2.0,7146.6,1150.6026,-7.447197
681,2020-08-31,4.0,-1.0,-2.0,-1.0,-2.0,8267.3,1331.0353,7.066548

In [87]:
sample2 = sample2.drop(['금년','가정용전력'],axis=1)

KeyError: "['금년' '가정용전력'] not found in axis"

In [111]:
sample4 = pd.merge(sample2,sample_heat,on='date',how='outer')
sample4

,date,avgrhm,avgts,maxta,sumrn,di,pct,day,olympic,heat_wave
0,2010-07-01,3.0,1.0,0.0,-9.0,1.0,-2.618614,1,0,0
1,2010-07-02,10.0,-1.0,-2.0,-1.0,-1.0,-13.256075,1,0,0
2,2010-07-03,8.0,0.0,0.0,-13.0,2.0,-17.423666,0,0,0
3,2010-07-04,6.0,0.0,-1.0,-16.0,0.0,3.782170,0,0,0
4,2010-07-05,1.0,2.0,2.0,-16.0,4.0,-0.742939,1,0,0
...,...,...,...,...,...,...,...,...,...,...
677,2020-08-27,6.0,-1.0,0.0,6.0,1.0,10.029647,1,0,0
678,2020-08-28,8.0,1.0,0.0,9.0,2.0,10.956910,1,0,0
679,2020-08-29,10.0,0.0,0.0,9.0,2.0,-5.672963,0,0,0
680,2020-08-30,8.0,1.0,0.0,6.0,2.0,-7.447197,0,0,0
681,2020-08-31,4.0,-1.0,-2.0,-1.0,-2.0,7.066548,1,0,0

In [112]:
sample4 = sample4.set_index('date')

In [113]:
sample4.corr()

,avgrhm,avgts,maxta,sumrn,di,pct,day,olympic,heat_wave
avgrhm,1.000000,-0.552979,-0.541246,0.651349,-0.361216,-0.204373,-0.000370,-0.237291,-0.395483
avgts,-0.552979,1.000000,0.945074,-0.433738,0.905070,0.426574,-0.001947,0.362062,0.637954
maxta,-0.541246,0.945074,1.000000,-0.455402,0.972123,0.377025,0.004194,0.291320,0.593086
sumrn,0.651349,-0.433738,-0.455402,1.000000,-0.368780,-0.055489,-0.026570,-0.139657,-0.270924
di,-0.361216,0.905070,0.972123,-0.368780,1.000000,0.341681,0.005076,0.261864,0.546596
pct,-0.204373,0.426574,0.377025,-0.055489,0.341681,1.000000,0.522925,0.187690,0.245111
day,-0.000370,-0.001947,0.004194,-0.026570,0.005076,0.522925,1.000000,-0.024430,0.005080
olympic,-0.237291,0.362062,0.291320,-0.139657,0.261864,0.187690,-0.024430,1.000000,0.392853
heat_wave,-0.395483,0.637954,0.593086,-0.270924,0.546596,0.245111,0.005080,0.392853,1.000000

In [114]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sample4[['avgrhm', 'avgts', 'maxta', 'sumrn','pct','di']] = scaler.fit_transform(sample4[['avgrhm', 'avgts', 'maxta', 'sumrn','pct','di']])
sample4 = sample4.drop(['di'],axis=1)

In [115]:
import numpy as np
X = sample4.drop(['pct'],axis=1)
y = sample4['pct']

# train data 와 test data로 구분(7:3 비율)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,               #독립 변수 
                                                    y,               #종속 변수
                                                    test_size=0.3,   #검증 30%
                                                    random_state=11) #랜덤 추출 값 

# 단순회귀분석 모형 생성 및 평가
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

lr = LinearRegression()
lr.fit(X_train,y_train)
y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test,y_preds)
rmse = np.sqrt(mse)
r2 = r2_score(y_test,y_preds)
print('MSE:{0:.4f}, RMSE:{1:.4f}, R2:{2:.4f}'.format(mse,rmse,r2))

MSE:0.4983, RMSE:0.7059, R2:0.5579